<div style="margin-left: 10px;">
<h2>Signup</h2>

    <form action="/account/register" method="post">
        <div style="margin-bottom: 10px;">
            <div><label for="txtName">Name</label></div>
            <div style="margin-bottom: 10px;"><input id="txtName" name="Name" placeholder="name" /></div>
            <div><label for="txtUserName">User (email)</label></div>
            <div style="margin-bottom: 10px;"><input id="txtUserName" name="Username" placeholder="user" type="email" /></div>
            <div><label for="txtPassword">Password</label></div>
            <div style="margin-bottom: 10px;"><input id="txtPassword" name="Password" type="password" /></div>
            <div><label for="txtConfirmPassword">Confirm Password</label></div>
            <div style="margin-bottom: 10px;"><input id="txtConfirmPassword" name="ConfirmPassword" type="password" /></div>
            <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
            <div><button class="btn btn-success" type="submit">Register</button></div>
        </div>
        <div>
            <a href="login">Login</a>
        </div>
    </form>

</div>
