@using Core;
@inject IAppEnvironment AppEnvironment
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Easy 地図録</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        body {
            background-color: black;
            color: white;
        }
        a{
            color: white;
        }
        .autoInfoContainer {
            margin: 10px 10px 10px 10px;
            padding: 5px 5px 5px 5px;
        }
        .autoInfo {
            border: 3px solid green;
            padding: 5px 5px 5px 5px;
        }
    </style>
</head>
<body>
    <div>
        @{
            var loggedIn = ViewBag.IsAuthenticated;
            if (loggedIn)
            {
                <a href="/Account/Logout">Logout</a>;
            }
            else
            {
                <a href="/Account/Login">Login</a>;
            }
        }
    </div>
    <div>
        @RenderBody()
    </div>
    @if (AppEnvironment.Location == EnvironmentLocation.Local)
    {
        <script type="text/javascript" src="http://localhost:3000/static/js/bundle.js"></script>
    }
    else
    {
        <script type="text/javascript" src="/js/bundle.js"></script>
    }
    @RenderSection("Scripts", required: false)
</body>
</html>
